.bg-card {
    background-color: #1f2937;
}

.min-h-full {
    min-height: 85.4vh !important;
}

.bg-full {
    background-color: #18232b;
}

.bg-container {
    background-color: #1f2937;
}