.bg-card {
    background-color: #1f2937;
}

.min-h-full {
    min-height: 85.4vh !important;
}

.bg-full {
    background-color: #18232b;
}

.bg-container {
    background-color: #1f2937;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: #374151;
    border-radius: 4px;
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #111827;
}

input {
    min-width: 11vw;
}